.detailsbo{
    width: 100%;
    height: 1.08rem;
    padding-left: 0.47rem ;
    padding-right: 0.25rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1faff;
    padding-top: 0.2rem;

    z-index: 99;
}
.detailsbo div:nth-child(1) img{
    width: 0.5rem;
    height: 0.5rem;

}
.detailsbo div:nth-child(1) a{
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    color: #3bacfe;
    opacity: 0.6;
}
.detailsbo div:nth-child(2) img{
    width: 0.5rem;
    height: 0.5rem;
}
.detailsbo div:nth-child(2) a{
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    color: #2ed977;
    opacity: 0.6;
}
.detailsbo div:nth-child(3){
    width: 1.96rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    box-shadow: 0rem 0.04rem 0.02rem rgba(55, 223, 116, 0.75);
    rgba(55, 223, 116, 0.75);
    text-align: center;
}
.detailsbo div:nth-child(3) span{
    color: white;
    line-height: 0.6rem;
    text-align: center;
}
.detailsbo div:nth-child(4){
    width: 1.96rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    background-color: #3bacfe;
    box-shadow: 0rem 0.05rem 0.12rem rgba(59, 172, 254, 0.43);;

    text-align: center;
}
.detailsbo div:nth-child(4) span{
    color: white;
    line-height: 0.6rem;
    text-align: center;
}
.deimg{
    width: 100%;
    height: 7rem;
    position: relative;
}
.deimg img{
    width: 3.4rem;
    height: 4rem;
    position: absolute;
    right: 2.2rem;
    bottom: 1.7rem;
}
.detit{
    font-size: 0.3rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.2;
    font-weight: normal;
    margin-left: 0.22rem;
}
.detitl{
    width: 6.84rem;
    height: 0.55rem;
    margin: 0.15rem 0.42rem 0.17rem 0.24rem;

}
.detitl p{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.32rem;
    letter-spacing:0.01rem;
    color: #000000;
    opacity: 0.3;
}
.dedao{
    border-bottom: 0.01rem solid #d8dfe3 ;
    padding-bottom: 0.25rem;
    padding-left: 0.24rem;

}
.dedao span:nth-child(1){
    font-size: 0.26rem;
    color: #fbb548;
}
.dedao span:nth-child(2){
     border-radius: 0.18rem;


   background: rgb(232,246,255);
    color: #41b2fc;
    font-size: 0.2rem;
    line-height: 0.4rem;
    padding: 0.1rem 0.2rem;
}
.dedao span:nth-child(3){
    border-radius: 0.18rem;
    background: rgb(231,250,244);
    color: #36d681;
    font-size: 0.2rem;
    line-height: 0.4rem;
    padding: 0.1rem 0.2rem;
    margin-right: 2.9rem;
}
.dedao span:nth-child(4){
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #000000;
    opacity: 0.3;
    position: relative;
}
.dedao span:nth-child(4):before{
    width: 0.05rem;
    height: 0.05rem;
    content: "";
    border-radius: 50%;
    background: #2ed977;
    position: absolute;
    left: -0.1rem;
    bottom: 0.1rem;
}
.dedao span:nth-child(5){
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #36a8fe;
}
.coupon{
    padding-top: 0.24rem;
    padding-bottom: 0.24rem;
    border-bottom: 0.01rem solid #d8dfe3 ;
}
.coupon div{
    float: left;

}
.coupon div img{
    width: 0.49rem;
    height: 0.23rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
}
.coupon span:nth-child(2){
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 1px;
    color: #ff844e;
}
.coupon span:nth-child(3){
    background-image: linear-gradient(270deg,
    #ffca3b 0%,
    #ff933b 100%),
    linear-gradient(
            #ffc471,
            #ffc471);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 0.04rem 0.16rem rgba(255, 142, 81, 0.3);

    border-radius: 0.2rem;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #fbfeff;
    padding: 0.08rem 0.27rem;
}
.fuwu{
 padding: 0.28rem 0.5rem 0.27rem 0.4rem;
    border-bottom: 0.01rem solid #d8dfe3 ;
}
.fuwu span{
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #41b2fc;
    position: relative;
    margin-right: 0.8rem;
}
.fuwu span:before{
    width: 0.05rem;
    height: 0.05rem;
    content: "";
    border-radius: 50%;
    background: #2ed977;
    position: absolute;
    left: -0.1rem;
    bottom: 0.1rem;
}
.usertit{

}
.usertitle{
    padding: 0.4rem 0.4rem;

}

.usertitle span:nth-child(1){
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #41b2fc;
    position: relative;
}
.usertitle span:nth-child(1):before{
    width: 0.1rem;
    height: 0.05rem;
    content: "";
    border-radius: 50%;
    background: #41b2fc;
    position: absolute;
    left: -0.15rem;
    bottom: 0.15rem;
}
.usertitle span:nth-child(2){
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #4f5b64;
    margin-right: 3.8rem;
}
.usertitle span:nth-child(3){
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;

}
.usertitle span:nth-child(3) a{
    color: #3bacfe;
}
.usertit ul{
    padding:0.3rem 0.23rem;
}
.userlift {
    width: 0.85rem;
    height: 0.85rem;

    overflow: hidden;
    float: left;
    padding-right: 0.2rem;
}
.usertit ul li{
    display:table;
    border-bottom: 0.01rem solid  #d8dfe3;

    padding-bottom: 0.57rem;
    padding-top: 0.3rem;
}

.userlift img{
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
}
.userright{
    float: left;
    width: 5.5rem;
    position: relative;
}
.userright div:nth-child(1) span:nth-child(1){
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #cfcfcf;
    padding-right: 3.5rem;
}
.userright span img{
    width: 1.27rem;
    height:0.2rem;
    float: right;
    position: absolute;
    left: 1rem;
    top: 0.14rem;
}
.userright div:nth-child(1) span:nth-child(3){
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #9ed5ff;
}
.userright div:nth-child(2) span{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.6;
}
.userright div:nth-child(3) span{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.32rem;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.3;
}
.xie{
    width: 1.8rem;
    height: 1rem;
}
.shoretit{
    border-bottom: 0.01rem solid #d8dfe3 ;
}
.shoretit .usertitle span:nth-child(1){
    color: #35db82;
}
.sametit .usertitle span:nth-child(1){
    color: #35db82;
}
.sametit{
    height: 8rem;
}
.sametit div ul{
    padding: 0.5rem 0.24rem;
    display: table;

}
.sametit div ul li{
    float: left;
   padding-right: 0.4rem;
    padding-bottom: 0.69rem;
}
.sametit div ul li span{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.6;
}
.sametit div ul li div{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fbb548;
}
.sametit div li img{
   width: 1.31rem;
    height: 1.37rem;
}

